@import "tailwindcss";

 :root {
--background: #ffffff;
--foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Comic Sans MS', 'Arial', sans-serif;
}

.bubbles-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; 
  overflow: hidden;
  background: linear-gradient(to bottom, #ead9fd);
}

.bubble {
  position: absolute;
  bottom: -100px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  opacity: 0.6;
  animation: rise 10s infinite ease-in;
}

@keyframes rise {
  0% {
    bottom: -100px;
    transform: translateX(0) scale(1);
  }
  50% {
    transform: translateX(100px) scale(1.2);
  }
  100% {
    bottom: 110%;
    transform: translateX(-150px) scale(0.8);
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d1b3ff;
  border-radius: 10px;
}